/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selector */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: #d9dcd6;
    color:#ffffff;
}

h1{
    display: inline-block;
    font-size: 48px;
    font-family:'Trebuchet MS'
}

ul li {
    margin-left: 25px;
    text-align: right;
    list-style-type: none;
    float: right;
}

header {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
}

a {
    text-decoration: none;
    color:#ffffff
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color:#000000
}

/* Class Selectors */
.background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.text-right {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* ID Selectors */
#benefit {
    margin-bottom: 32px;
}

#benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

#benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.div_content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

.div_content img {
    max-height: 200px;
}

.div_content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}